<section id="intro-section" class="home-intro-section">
  <div class="container" fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px">
    <div fxFlex="50">
      <h2 class="home-intro-title">Agence Agile experte dans la conception et développement des ChatBot et applications
        web & mobile
      </h2>
      <div class="home-intro-desc">
        Spécialiste dans le développement des applications Mobiles, ChatBot et e-commerce API
      </div>
      <div class="intro-list" fxLayout="column" fxLayoutGap="30px">
        <div fxFlex="100">
          <mat-icon color="accent">check</mat-icon><span fxFlex="20px"></span> 100+ Custom Pipes, Directives And Components</div>
        <div fxFlex="100">
          <mat-icon color="accent">check</mat-icon><span fxFlex="20px"></span> 4 color Themes and multi language support</div>
        <div fxFlex="100">
          <mat-icon color="accent">check</mat-icon><span fxFlex="20px"></span> Super Flexible And Customizable</div>
      </div>
    </div>
  </div>
</section>